/* Animation */
@keyframes flip {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-180deg);
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  backdrop-filter: blur(10px);
  z-index: 9999;
}

.loaderContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.loaderImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65px;
}

.loaderCoin {
  animation: flip 0.5s ease-in-out infinite alternate-reverse both;
}

.loaderText {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-align: center;
}
