version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel-app
    working_dir: /var/www
    volumes:
      - ./:/var/www
    environment:
      APP_ENV: production
      APP_KEY: base64:Re/WJErzQC4R+SGB7Pe1NXTW2umvlkCz94Uy/1w34BI=
      APP_DEBUG: false
    networks:
      - laravel-network

  web:
    image: nginx:alpine
    container_name: laravel-web
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel-network

networks:
  laravel-network:
    driver: bridge
